<nav class="navbar">
</nav>

<div class="jumbotron">
  <h1>[insert header]</h1>
  <title>[Who is the best of all time?]</title>
  <%= link_to "Scorecard", scorecards_path, class: "btn btn-primary btn-lg", role: "button" %>
</div>
